#header img{
	width:100px;
	margin-top:10px;
} 
#header p {
	margin-top:20px;
	font-family: 'Lobster', cursive;
	font-size: 20px;
}
hr {
	border:none;
	height:2px;
	background-color: black;
	margin-top: 10px;
	margin-bottom: 10px;
}